# SAP Configuration
SAP_HOST=
SAP_SYSNR=
SAP_CLIENT=
SAP_USER=
SAP_PASSWORD=

# CorteCloud Configuration
CORTECLOUD_API_URL=https://apis.ccstg.com.br
CORTECLOUD_EMAIL=demopartner@serrabits.com.br
CORTECLOUD_PASSWORD=123456
CORTECLOUD_CLIENT_API_KEY=5f8ebe41ee8d96a648cc9c055661cf54f4bbbb9d77bb9ec8e49178f0f491764c
CORTECLOUD_PARTNER_API_KEY=010ced652426e2227c06d5450f01a3382af67dfe0d5b619a697db44062e6a6d7

# App Configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=debug
